.banner-slider
  .banner-wrap
    .carousel
      .slider#banner_slider
        #slide1.slide
          .inner
            .img.background-banner
              |
              |
              img(
                src=img_assets+img_artwork[5]
                alt='background'
              )/
              |
              |
            .container
              .row
                .col-md-6.col-sm-12.px-sm-3.px-0.d-flex.align-items-center
                  .text
                    h4.use-text-title
                      | #{$t.saas2_landing.banner_title + ' '}
                      | #{$t.saas2_landing.banner_titlestrong}
                    h5.use-text-subtitle2.use-text-sans #{$t.saas2_landing.banner_subtitle}
                    .btn-area
                      |
                      |
                      a.btn.waves-effect.btn-outlined.btn-large.button.black-white(href='#')
                        | #{$t.common.btn_detail}
                      |
                      |
                      a.btn.waves-effect.button.btn-large.black(href=link.saas2.register)
                        | #{$t.common.btn_get}
                      |
                      |
                .col-md-6.col-sm-12.px-6
                  .img
                    |
                    |
                    img.img-slide1(
                      src=img_assets+img_artwork[1]
                      alt='banner 1 3D'
                    )/
                    |
                    |
        #slide2.slide
          .inner
            .hidden-md-up
              .img.background-banner
                |
                |
                img(
                  src=img_assets+img_artwork[5]
                  alt='background'
                )/
                |
                |
            .container
              .row
                .col-md-6.col-sm-12.px-sm-3.px-0.d-flex.align-items-center.order-lg-5
                  .text
                    h4.use-text-title
                      | #{$t.saas2_landing.banner_title + ' '}
                      | #{$t.saas2_landing.banner_titlestrong}
                    h5.use-text-subtitle2.use-text-sans #{$t.saas2_landing.banner_subtitle}
                    .btn-area
                      |
                      |
                      a.btn.waves-effect.btn-outlined.btn-large.button.black-white(href='#')
                        | #{$t.common.btn_detail}
                      |
                      |
                      a.btn.waves-effect.button.btn-large.black(href=link.saas2.register)
                        | #{$t.common.btn_get}
                      |
                      |
                .col-md-6.col-sm-12.px-6.order-lg-0
                  .img
                    img.img-slide2(
                      src=img_assets+img_artwork[3]
                      alt='banner 2 3D'
                    )/
                    |
                    |
        #slide3.slide.center-content
          .inner
            .container
              .row.justify-content-center
                .col-xs-12.px-sm-12.px-0
                  .text.text-center
                    h4.use-text-title
                      | #{$t.saas2_landing.banner_title + ' '}
                      | #{$t.saas2_landing.banner_titlestrong}
                    h5.use-text-subtitle2 #{$t.saas2_landing.banner_subtitle}
                    .btn-area
                      |
                      |
                      a.btn.waves-effect.btn-outlined.btn-large.button.black-white(href='#')
                        | #{$t.common.btn_detail}
                      |
                      |
                      a.btn.waves-effect.button.btn-large.black(href=link.saas2.register)
                        | #{$t.common.btn_get}
                      |
                      |
                .col-xs-12
                  .img.h-banner
                    |
                    |
                    img(
                      src=img_assets+img_artwork[7]
                      alt='banner 3 3D'
                    )/
                    |
                    |
    .slide-nav-group
      .deco-wrap
        .deco.bottom
          |
          |
          svg.wave
            include ../svg/deco-wave.pug
          |
          |
        .deco.top
          .wave.wave-cover
      .wave.wave-cover
      .hidden-sm-down
        .container
          nav.slide-nav#banner_nav
            |
            |
            a.waves-effect.active(data-slide='0')
              strong.use-text-non-sans First Slide
              | Interdum et malesuada fames ac ante
            |
            |
            hr.divider
            |
            |
            a.waves-effect(data-slide='1')
              strong.use-text-non-sans Second Slide
              | Interdum et malesuada fames ac ante
            |
            |
            hr.divider
            |
            |
            a.waves-effect(data-slide='2')
              strong.use-text-non-sans Third Slide
              | Interdum et malesuada fames ac ante
            |
            |