mixin error(errCode, text)
  .error-style
    .error-wrap
      .container.max-md
        .row.align-items-center
          .col-md-5.col-sm-12
            .flex
              .illustration
                |
                |
                img(src=img_assets+img_artworkInner[9] alt='error')/
                |
                |
          .col-md-7.col-sm-12
            .text
              h3.use-text-primary #{errCode}
              h4.use-text-subtitle #{text}
              p.use-text-paragraph #{$t.common['404_subtitle']}
              |
              |
              a.btn.black-white.waves-effect.btn-large.button(
                href=link.saas2.home
              ) #{$t.common.back}
              |
              |
